@font-face {
    font-family: "proxima_nova";
    src: url("../font/proximanova-regular-webfont.woff2") format("woff2"),
      url("../font/proximanova-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "proxima_nova";
    src: url("../font/proxima_nova_bold-webfont.woff2") format("woff2"),
      url("../font/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

/* footer{ */
    /* background-color: #F3FAE1; */
    /* position: absolute; */
    /* bottom: 0; */
    /* width:100% */
/* } */
body{
    height: 100%;
    background-color: #9AC738;
    font-family: "proxima_nova";
    margin: 0;
    padding: 0;
}

.twitter{
    width: 20px;
    height: 20px;
}

h2{
    color: white;
    float: right;
}

.speech1{
    margin-top: 2%;
    text-align: center;
    background-color: #F3FAE1;
    color: #9AC738;
}

.speech2{
    margin-top: 3%;
    text-align: center;
    color: #F3FAE1;
}


.screen2{
    float: right;

}

.screen3{
    float: left;
}


.scan{
    
    padding:2rem ;
    float: right;
    background-color:  #F3FAE1;
    border-radius: 1rem;
}

.history{
    
    padding:2rem ;
    float: left;
    background-color:  #F3FAE1;
    border-radius: 1rem;
}

.stats{
    
    padding: 2rem;
    float: right;
    background-color:  #F3FAE1;
    border-radius: 1rem;
}

.bouton{
    padding: 1rem;
    width: 300px;
    border-radius: 1rem;
    border: none;
    background-color: #F3FAE1;
    color: #9AC738;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: large;
}

.bouton:hover{
    cursor: pointer;
    background-color: rgb(228, 233, 217);
}
/*flex*/

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flex-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flex-container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flex-container4 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    text-align: right;

}

.flex-container5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #F3FAE1;

}

.droits {
    text-align: left;
}