@font-face {
    font-family: "proxima_nova";
    src: url("../font/proximanova-regular-webfont.woff2") format("woff2"),
      url("../font/proximanova-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "proxima_nova";
    src: url("../font/proxima_nova_bold-webfont.woff2") format("woff2"),
      url("../font/proxima_nova_bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

footer{
    background-color: #F3FAE1;
    position: absolute;
    bottom: 0;
    width:100%
}
body{
    height: 100%;
    background-color: #9AC738;
    font-family: "proxima_nova";
}

.twitter{
    width: 20px;
    height: 20px;
}

h2{
    color: white;
}

